.button {
  background-color: #2563EB;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  height: 38px;
  min-width: 80px;
  text-transform: uppercase;
  line-height: 16px;
}
